<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>class</key>
					<string>SuperDBEditCell</string>
					<key>label</key>
					<string>Name</string>
					<key>key</key>
					<string>name</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>General</string>
			<key>rows</key>
			<array>
				<dict>
					<key>class</key>
					<string>SuperDBEditCell</string>
					<key>key</key>
					<string>secretIdentity</string>
					<key>label</key>
					<string>Identity</string>
				</dict>
				<dict>
					<key>class</key>
					<string>SuperDBDateCell</string>
					<key>key</key>
					<string>birthdate</string>
					<key>label</key>
					<string>Birthdate</string>
				</dict>
				<dict>
					<key>class</key>
					<string>SuperDBCell</string>
					<key>key</key>
					<string>age</string>
					<key>label</key>
					<string>Age</string>
				</dict>
				<dict>
					<key>values</key>
					<array>
						<string>Male</string>
						<string>Female</string>
					</array>
					<key>key</key>
					<string>sex</string>
					<key>class</key>
					<string>SuperDBPickerCell</string>
					<key>label</key>
					<string>Sex</string>
				</dict>
				<dict>
					<key>class</key>
					<string>SuperDBColorCell</string>
					<key>key</key>
					<string>favoriteColor</string>
					<key>label</key>
					<string>Color</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>Powers</string>
			<key>dynamic</key>
			<true/>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>powers</string>
					<key>class</key>
					<string>SuperDBCell</string>
					<key>label</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
